In [184]:
import pandas as pd
import matplotlib.pyplot
import numpy

In [185]:
data = pd.read_csv("cost_revenue_dirty.csv")
data

,Rank,Release Date,Movie Title,Production Budget ($),Worldwide Gross ($),Domestic Gross ($)
0,5293,8/2/1915,The Birth of a Nation,"$110,000","$11,000,000","$10,000,000"
1,5140,5/9/1916,Intolerance,"$385,907",$0,$0
2,5230,12/24/1916,"20,000 Leagues Under the Sea","$200,000","$8,000,000","$8,000,000"
3,5299,9/17/1920,Over the Hill to the Poorhouse,"$100,000","$3,000,000","$3,000,000"
4,5222,1/1/1925,The Big Parade,"$245,000","$22,000,000","$11,000,000"
...,...,...,...,...,...,...
5386,2950,10/8/2018,Meg,"$15,000,000",$0,$0
5387,126,12/18/2018,Aquaman,"$160,000,000",$0,$0
5388,96,12/31/2020,Singularity,"$175,000,000",$0,$0
5389,1119,12/31/2020,Hannibal the Conqueror,"$50,000,000",$0,$0
5390,2517,12/31/2020,"Story of Bonnie and Clyde, The","$20,000,000",$0,$0

In [186]:
data.columns

Index(['Rank', 'Release Date', 'Movie Title', 'Production Budget ($)',
       'Worldwide Gross ($)', 'Domestic Gross ($)'],
      dtype='object')

In [187]:
data = data.drop('Rank', axis=1) #Axis 1 is for columns
data = data.drop('Release Date', axis=1)
data = data.drop('Domestic Gross ($)', axis=1)
data = data.drop('Movie Title', axis=1)

In [188]:
data.head

<bound method NDFrame.head of      Production Budget ($) Worldwide Gross ($)
0                 $110,000         $11,000,000
1                 $385,907                  $0
2                 $200,000          $8,000,000
3                 $100,000          $3,000,000
4                 $245,000         $22,000,000
...                    ...                 ...
5386           $15,000,000                  $0
5387          $160,000,000                  $0
5388          $175,000,000                  $0
5389           $50,000,000                  $0
5390           $20,000,000                  $0

[5391 rows x 2 columns]>

In [189]:
data.describe(include='all') #Shows how many rows, columns, entries, unique entries etc a dataframe has

       Production Budget ($) Worldwide Gross ($)
count                   5391                5391
unique                   484                4969
top              $20,000,000                  $0
freq                     216                 357

In [190]:
data.rename(columns={"Production Budget ($)":"production_budget_usd"}, inplace=True)
data.rename(columns={"Worldwide Gross ($)":"worldwide_gross_usd"}, inplace=True)

In [191]:
data.head()

  production_budget_usd worldwide_gross_usd
0              $110,000         $11,000,000
1              $385,907                  $0
2              $200,000          $8,000,000
3              $100,000          $3,000,000
4              $245,000         $22,000,000

In [192]:
X = data.production_budget_usd
X = X.to_frame()

In [193]:
y = data.worldwide_gross_usd
y = y.to_frame()

In [194]:
type(X)

pandas.core.frame.DataFrame

In [195]:
type(y)

pandas.core.frame.DataFrame

***REPLACE "$" FROM COLUMNS:***

In [196]:
data["production_budget_usd"] = data['production_budget_usd'].str.replace('\$|,','', regex=True)

In [197]:
data['worldwide_gross_usd'] = data['worldwide_gross_usd'].str.replace('\$|,','', regex=True)

In [198]:
data

     production_budget_usd worldwide_gross_usd
0                   110000            11000000
1                   385907                   0
2                   200000             8000000
3                   100000             3000000
4                   245000            22000000
...                    ...                 ...
5386              15000000                   0
5387             160000000                   0
5388             175000000                   0
5389              50000000                   0
5390              20000000                   0

[5391 rows x 2 columns]

In [199]:
type(data['worldwide_gross_usd'][0])

str

***CONVERT ALL ENTRIES IN THE COLUMNS TO INTEGERS:***

In [200]:
data["production_budget_usd"] = data["production_budget_usd"].astype(int)

In [201]:
data["worldwide_gross_usd"] = pd.to_numeric(data["worldwide_gross_usd"])

In [202]:
data.dtypes

production_budget_usd    int32
worldwide_gross_usd      int64
dtype: object

In [203]:
data

      production_budget_usd  worldwide_gross_usd
0                    110000             11000000
1                    385907                    0
2                    200000              8000000
3                    100000              3000000
4                    245000             22000000
...                     ...                  ...
5386               15000000                    0
5387              160000000                    0
5388              175000000                    0
5389               50000000                    0
5390               20000000                    0

[5391 rows x 2 columns]

***CREATE A SCATTER PLOT USING MATPLOTLIB***

In [205]:
data=pd.DataFrame(numpy.random.rand(84,3),index=[chr(ascii) for ascii in range(33,33+84)])

In [207]:
matplotlib.pyplot.scatter(X, y)
matplotlib.pyplot.show()

ConversionError: Failed to convert value(s) to axis units:      production_budget_usd
0                 $110,000
1                 $385,907
2                 $200,000
3                 $100,000
4                 $245,000
...                    ...
5386           $15,000,000
5387          $160,000,000
5388          $175,000,000
5389           $50,000,000
5390           $20,000,000

[5391 rows x 1 columns]